/* ==== Config ==== */

/*
Feel free to change these values to whatever you want, as long
as they use the correct format.
*/

/* URL bar appear animation */
#urlbar {
  --animation-duration: 0.25s;
}

/* Results appear animation */
#urlbar-results {
  --animation-duration: 0.25s;
}

/* Individual result appear animation */
.urlbarView-row {
  --animation-duration: 1.0s;
  --animation-duration-subtle: 0.5s; /* WIP, this won't change anything for now */
  --animation-delay: 0.1s;
  --animation-delay-offset: 0.3s;
}

/* Reload border animation */
browser, .browserSidebarContainer.deck-selected {
  --animation-duration: 0.2s;
  --animation-rotation-duration: 2.0s;
  --animation-exit-duration: 1.0s;
  --browser-margin: 4px;
}

/* Reload URLbar animation */
#urlbar-background {
  --fadein-duration: 0.2s;
  --animation-duration: 0.5s;
}

/* Container tabs gradient */
.tabbrowser-tab {
  --container-gradient-width: 25%;
  --container-gradient-width-expanded: 50%;
}
